/* Estilo general de la tabla */
table {
    width: 50%; /* Ancho de la tabla */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Elimina el doble borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-family: Calibri, sans-serif;
  }
  
  /* Estilo de los encabezados */
  th {
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color del texto */
    font-weight: bold;
    padding: 12px;
    border: 1px solid #ddd; /* Borde */
    text-align: left; /* Alineación del texto */
  }
  
  /* Estilo de las filas */
  tr {
    background-color: #fff; /* Color de fondo */
    transition: background-color 0.3s; /* Transición suave al pasar el mouse */
  }
  
  tr:nth-child(even) {
    background-color: #f8f8f8; /* Color de fondo para filas pares */
  }
  
  tr:hover {
    background-color: #e9e9e9; /* Efecto hover */
  }
  
  /* Estilo de las celdas */
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .titulo {
    width: 50%; /* Ancho de la tabla */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Elimina el doble borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-family: Calibri, sans-serif;
    text-align: center;
  }


  img {
    max-width: 75%; /* La imagen ocupará como máximo el 100% del ancho de su contenedor */
    height: auto;     /* Ajusta la altura automáticamente para mantener la proporción */
  }